.header{
text-align: center;

}

.languages-container{
    
    margin-top: 30px;
    text-align: center;


}

.result-container{
    border: 1px solid red;
    display: flex;
    align-items: center;


}