.header{
text-align: center;

}

.languages-container{
    
    margin-top: 30px;
    text-align: center;


}

.result-container{

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.first-section{
    display: flex;
    flex-direction: column;
    width: 180px;
    
}

.second-section{
    display: flex;
    flex-direction: column;
    width: 180px;
}

label{
    text-align: center;
}